body {
    background-color: black;
}

img {
    border: 5px solid white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

#main {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}